<div class="toolbar" role="banner">
    <div class="card-container">
      <a class="card"  href="#home"> <img width="40" alt="Ng-FE Logo" src="../assets/folder.svg" />  <span>Home</span>  </a>
      <a class="card"  href="#shared"> <img width="40" alt="Ng-FE Logo" src="../assets/shared.svg" /> <span>Shared</span> </a>
      <a class="card" target="_blank" href="https://github.com/Mnpr/Ng-FileExplorer" title="Github Reference"> <span>Source</span>
        <img src="../assets/github.svg" alt="Github icon" height="30" width="50" >
      </a>
    </div>
</div>