:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

#page {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-areas: "head head"
                         "toolbar toolbar"
                         "nav  main"
                         "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
  }
  
#page > app-header {
    grid-area: head;
    background-color: #8ca0ff;
}

#page > app-toolbar {
    grid-area: toolbar;
    background-color: #8ca0ff;
}
  
#page > app-directory-tree {
    grid-area: nav;
    background-color: #ffa08c;
}
  
#page > app-file-explorer {
    grid-area: main;
    background-color: #ffff64;
}
  
#page > app-footer {
    grid-area: foot;
    background-color: #8cffa0;
}